<article *ngIf="comment$ | async as comment" class="item-comment">
  <ul class="item-comment-info">
    <li class="comment-info-by">by {{comment.by}}</li>
    <li class="comment-info-date">{{comment.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</li>
  </ul>
  <div class="item-comment-text" [innerHtml]="comment.text | safeHtml"></div>

  <div class="item-comment-kids" *ngIf="comment.kids">
    <div *ngFor="let kid of comment.kids">
      <app-item-comment *ngIf="kid" [commentId]="kid"></app-item-comment>
    </div>
  </div>
</article>

