@import '../../../scss/helpers';

.item-comment {
  border: 1px solid $border-color-light;
  margin-bottom: 20px;
  @extend .p20;
}

.item-comment-kids {

  .item-comment {
    margin-bottom: 0;
    margin-top: 20px;
  }

}

.item-comment-text {
  p {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }

  a {
    word-break: break-all;
  }
}

.item-comment-info {
  display: inline-block;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 10px;
  background: $border-color-light;

  .comment-info-by {
    font-weight: bold;
  }

  .comment-info-date {
    font-size: 90%;
  }
}
