@import '../../../scss/helpers';
@import '../comment/comment.component';

.item-single {
  @extend .p20;
  border-bottom: 1px solid $color-link;
  margin-bottom: 20px;

  h1 {
    margin: 0 0 10px 0;
  }
}

.item-comments {
  @extend .pb20;
  @extend .plr20;
}

.item-single-link {
  word-break: break-all;
  display: inline-block;
  font-weight: normal;
}

.item-single-info {
  @extend .item-comment-info;
  margin-right: 20px;

  li {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid $color-link;
    &:last-child {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }
  }
}
