<article class="item-single">
<h1>
  <div>{{item.title}}</div>
</h1>
  <ul class="item-single-info">
    <li class="comment-info-by">by {{item.by}}</li>
    <li class="comment-info-date">{{item.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</li>
  </ul>
  <a href="{{item.url}}" class="item-single-link">{{item.url}}</a>
</article>
<section class="item-comments" *ngIf="item.kids">
  <div *ngFor="let kid of item.kids">
    <app-item-comment *ngIf="kid" [commentId]="kid"></app-item-comment>
  </div>
</section>
