<virtual-scroll [items]="items"
                (update)="scrollItems = $event"
                (end)="loadMore($event)">
  <app-item-post *ngFor="let item of scrollItems" [item]="item"></app-item-post>
</virtual-scroll>
