<article *ngIf="item" routerLink="/item/{{item.id}}" class="item-post">
  <div class="item-post-col-left">
    <time>{{item.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</time>
    <h2>{{item.title}}</h2>
    <a (click)="outerLinkClick($event)"
       class="item-post-link"
       href="{{item.url}}">{{item.url}}</a>
  </div>
  <div class="item-post-col-right">
    <aside class="item-post-score">
      <span><b>Score</b></span>
      <span class="item-post-score___count">{{item.score}}</span>
    </aside>
    <aside class="item-post-comments">
      <span>{{item.descendants || 0}}</span>
    </aside>
  </div>
</article>
