@import '../../../scss/helpers';

.item-post {
  @extend .p20 !optional;
  border-bottom: 1px solid $color-dark-primary;
  display: flex;
  justify-content: flex-start;
  &:hover {
    background-color: $background-post-hover;
    cursor: pointer;
  }
}

.item-post-score, .item-post-comments {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50px;
  justify-content: center;

  &___count {
    font-size: 150%;
  }
}

.item-post-comments {
  color: $color-link-headerMenu;
  background: url('../../../assets/images/icon-comment.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  span {
    transform: translate(-5px, -5px);
  }

  &:hover {
    color: $color-link-headerMenu-hover;
  }
}

.item-post-score {
  border-radius: 20%;
  background-color: $background-header;
  color: $color-link-headerMenu;
}

.item-post-link {
  word-break: break-all;
}

.item-post-col-right {
  width: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}

.item-post-col-left {
  flex-basis: 100%;
}
