@import '~normalize.css';
@import 'scss/_variables';
@import 'scss/_material-theme';

html {
  font-size: 14px;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-active;
  }
}
