@import 'variables';
@import 'mixins';

/* helpers */

.p20 {
  padding: 20px;
}

.plr20 {
  @include plr(20px);
}

.pb20 {
  padding-bottom: 20px;
}

virtual-scroll {
  height: calc(100vh - 52px);
}
