<header id="main-header">
  <a routerLink="/" class="logo"></a>
  <nav>
    <a routerLink="/" routerLinkActive="___active" [routerLinkActiveOptions]="{exact:true}">
      <span>Top</span>
    </a>
    <a routerLink="/jobs" routerLinkActive="___active">
      <span>Jobs</span>
    </a>
  </nav>
  <app-loader></app-loader>
</header>
