@import '../../../../scss/helpers';

app-loader {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

#main-header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $background-header;
  color: #fff;
  @include plr(20px);
  height: 50px;
  box-shadow: 0 10px 10px #ffffff;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  background: url(data:image/svg+xml;base64,#{$logo}) no-repeat;
  background-size: 100% 100%;
}

nav {
  padding-left: 20px;
  display: flex;
  align-self: stretch;
  flex-basis: 100%;
  font-size: 1.2rem;

  a {
    display: flex;
    @include plr(20px);
    color: $color-link-headerMenu;
    text-decoration: none;


    &:hover {
      color: $color-link-headerMenu-hover;
    }
    &.___active {
      background-color: $color-link-headerMenu;
      color: $color-link-active;
    }

    span {
      align-self: center;
    }
  }

}
